# Core
flask
gunicorn

# ML / Data
pandas
numpy
scikit-learn
imbalanced-learn
alibi-detect

# Redis support (local & cloud)
redis

# Monitoring
prometheus_client

# For environment variable management
python-dotenv

# Deployment utilities
setuptools
psycopg2
